<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1 class="name-style">Zachary Charlick</h1>
        <div class="row">

          <div class="col-md about-me-pic-div">
            <img src="/images/zachpic.jpg" class="about-me-pic" width="250px" height="250px">
          </div>

          <div class="col-md">

            <h5 class="about-me-text" > My Name is Zachary Charlick, but most of my friends
              just call me Zach. I have an older brother and a younger sister, as well
              as an adorable puppy. I am a current rising high school Junior at Jackson High
              School where I am a part of a JSA, an arts focused academy within the much larger school.
            </h5>

          </div>

        </div>

        <br><br>

        <h1 class="name-style">Ahsen Malik</h1>
        <div class="row">

          <div class="col-md">

            <h5 class="about-me-text">My name is Ahsen Malik, and I'm from Lahore, Pakistan. Currently, I am a rising junior at ISC-Lahore. I play soccer and tennis, and am interested in programming and science.
            </h5>
          </div>

          <div class="col-md about-me-pic-div">
            <img src="/images/Ahsen_pic.jpeg" class="about-me-pic" width="250px" height="250px"">
          </div>
        </div>
        <br><br>


        <h1 class="name-style">Simon Bullock</h1>
        <div class="row">
          <div class="col-md">

            <h5 class="about-me-text">My name is Simon Bullock, and I'm from Broocklyn, New York. Currently, I am a rising Senior at Beacon High School.
            </h5>
            </div>
          <div class="col-md about-me-pic-div">
            <img src="/images/simon.jpg" class="about-me-pic" width="250px" height="250px"">
          </div>

          </div>
              <br><br>

          <h1 class="name-style">Elliot Ginzburg</h1>
          <div class="row">

            <div class="col-md">

              <h5 class="about-me-text">My name is Elliot. I am a rising Junior. One fun fact about me is that I go to the same high School
                that Kobe Bryant went to. He paid for our gym.
              </h5>
            </div>

            <div class="col-md about-me-pic-div">
              <img src="/images/elliot.jpg" class="about-me-pic" width="250px" height="250px"">
            </div>
          </div>
              <br><br>

          <h1 class="name-style">Jai Damani</h1>
          <div class="row">

            <div class="col-md about-me-pic-div">
              <img src="/images/jai.png" class="about-me-pic" width="250px" height="250px"">
            </div>

            <div class="col-md">
              <!-- Comment -->

              <h5 class="about-me-text"> My Name is Jai Damani. I am a currently in the 9th Grade in Bombay International School, Mumbai. I play the clarinet and am extremely fond of problem solving.
              </h5>
            </div>
          </div>
              <br><br>

          <h1 class="name-style">Matthew Quetell</h1>
          <div class="row">

            <div class="col-md">

              <h5 class="about-me-text">My name is Matthew and I am a rising Junior and go to school at West Nottingham Academy,
                which is a boarding school in Maryland. On my first day of App Design Camp, they gave me a nametag that said my
                mom's name, "Denise". From that moment on, everyone started calling me "Big D".
              </h5>
            </div>

            <div class="col-md about-me-pic-div">
              <img src="/images/bigd.png" class="about-me-pic" width="250px" height="250px"">
            </div>
          </div>

    </div>


<%- include('bootfooter') -%>
