<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1 class="name-style">Zachary Charlick</h1>
        <div class="row">

          <div class="col-md about-me-pic-div">
            <img src="/images/zachpic.jpg" class="about-me-pic" width="250px" height="250px">
          </div>

          <div class="col-md">

            <h5 class="about-me-text" > My Name is Zachary Charlick, but most of my friends
              just call me Zach. I have an older brother and a younger sister, as well
              as an adorable puppy. I am a current rising high school Junior at Jackson High
              School where I am apart of a JSA, an arts focused acadamy within the much larger school.
            </h5>

          </div>

        </div>

        <br><br>

        <h1 class="name-style">Ahsen Malik</h1>
        <div class="row">

          <div class="col-md">

            <h5 class="about-me-text">My name is Ahsen Malik, and I'm from Lahore, Pakistan. Currently, I am a rising junior at ISC-Lahore.
            </h5>
          </div>

          <div class="col-md about-me-pic-div">
            <img src="/images/Ahsen_pic.jpeg" class="about-me-pic" width="250px" height="250px"">
          </div>

        </div>
    </div>


<%- include('bootfooter') -%>
