<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/updateProfile">
  <!--
  <div class="checkbox">
    <label><input type="checkbox" name="politics" <% if(user.politics){ %> checked <%  } %>  >Politics</label>
      <label for="checkbox"><img src = "images/politics.jpg"/></label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="food" <% if(user.food){ %> checked <%  } %>>Food</label>
    <label for="food"><img src = "images/food.jpg"/></label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="movies" <% if(user.movies){ %> checked <%  } %>>Movies</label>
      <label for="movies"><img src = "images/movies.jpg"/></label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="sports" <% if(user.sports){ %> checked <%  } %>>Sports</label>
      <label for="sports"><img src = "images/sports.jpg" width="550" height="300"/></label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="travel" <% if(user.travel){ %> checked <%  } %>>Travel</label>
      <label for="travel"><img src = "images/travel.jpg"/></label>
  </div>

  <div class="checkbox" >
    <label><input type="checkbox" name="diy" <% if(user.diy){ %> checked <%  } %>>DIY</label>
      <label for="diy"><img src = "images/diy.jpg"/></label>
  </div>

-->

  <table class="table ">
    <thead>
      <tr>
        <th>  <div class="checkbox">
            <label><input type="checkbox" name="politics" <% if(user.politics){ %> checked <%  } %>  >Politics</label>
              <label for="checkbox"><img src = "images/politics.jpg"width="500"/></label>
          </div>
        </th>
          <th>
            <div class="checkbox">
            <label><input type="checkbox" name="movies" <% if(user.movies){ %> checked <%  } %>>Movies</label>
              <label for="movies"><img src = "images/movies.jpg" width="500" /></label>
          </div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="checkbox">
          <label><input type="checkbox" name="food" <% if(user.food){ %> checked <%  } %>>Food</label>
          <label for="food"><br>
            <img src = "images/food.jpg"width="500"/></label>
        </div>
      </td><th>
          <div class="checkbox">
          <label><input type="checkbox" name="sports" <% if(user.sports){ %> checked <%  } %>>Sports</label>
            <label for="sports"><br>
              <img src = "images/sports.jpg"width="500" /></label>
        </div>
      </th><
      </tr>
      <tr>
        <th>
          <div class="checkbox" >
          <label><input type="checkbox" name="diy" <% if(user.diy){ %> checked <%  } %>>DIY</label>
            <label for="diy"><br>
              <img src = "images/diy.jpg"width="530"/></label>
        </div>
      </th>


        <th>
          <div class="checkbox">
            <label><input type="checkbox" name="travel" <% if(user.travel){ %> checked <%  } %>>Travel</label>
              <label for="travel"><br>
                <img src = "images/travel.jpg"width="500"/></label>
          </div>

      </th>





    </tbody>
  </table>
  <input type="submit" class="btn btn-lg btn-primary">

  </form>








<%- include('bootfooter') -%>
