<footer class="page-footer font-small stylish-color-dark pt-1 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

        <!-- Content -->

      <!-- Grid column -->


      <!-- Grid column -->

        <!-- Links -->

    <a class="footerlink" href="/aboutpages">About Us</a>


    <a class="footerlink" href="http://www.facebook.com">Facebook</a>

    <a class="footerlink" href="#!">Instagram</a>

      <!-- Grid column -->

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



  <!-- Call to action -->

  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-class">© 2019 Copyright:
    <a href="https://nytimes.com/"> Pair.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
