<footer class="page-footer font-small stylish-color-dark pt-1 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

        <!-- Content -->

      <!-- Grid column -->


      <!-- Grid column -->

        <!-- Links -->


<!--
    <button class="footerlink btn btn-lg" href="/aboutpages"><img src=""></button>



     <button class="btn " href="http://www.facebook.com"><img src="https://www.isaproject.it/wp-content/themes/ISAProject/img/facebook-icon.png" class="w-5"></button>-->

    <a class="footerlink" href="#!">Instagram</a>


      <!-- Grid column -->



      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->






  <!-- Copyright -->
 <div class="footer-copyright text-center py-3 footer-class">© 2019 Copyright:
    <a href="https://nytimes.com/"> Pair.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
