
<footer id="footer"class="page-footer font-small">

<div class ="footer">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div>

      <a class="footerlink" href="/aboutpages" >About Us</a>

      <a class="footerlink" href="http://www.facebook.com">Facebook</a>

      <a class="footerlink" href="http://www.instagram.com">Instagram</a><br><br>

      <p  class="copyrighttext" >   © 2019 Copyright:
        <a class="copyrightlink" href="https://obscure-cliffs-65103.herokuapp.com/"> Pair.com</a>
      </p>

        <!--<div class="footer-copyright text-center footer-class" style="vertical-align: text-bottom">© 2019 Copyright:
          <a href="https://nytimes.com/"> Pair.com</a>
        </div>  -->

      </div>

  </div>

  </div>


</footer>
