
<footer id="footer"class="page-footer font-small stylish-color-dark pt-1 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div>

      <a class="footerlink" href="/aboutpages">About Us</a>

      <a class="footerlink" href="http://www.facebook.com">Facebook</a>

      <a class="footerlink" href="#!">Instagram</a><br><br>

      <p id="copyright" class="footer-copyright text-center footer-class" style="vertical-align:text-bottom">© 2019 Copyright:
        <a href="https://nytimes.com/"> Pair.com</a>
      </p>

        <!--<div class="footer-copyright text-center footer-class" style="vertical-align: text-bottom">© 2019 Copyright:
          <a href="https://nytimes.com/"> Pair.com</a>
        </div>  -->

      </div>

  </div>


</footer>
