<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>
<<<<<<< HEAD
    <a href="/Home">Elliot Ginzburg</a>
    Zach Charlick
=======

    Elliot Ginzburg
    <a href="/zachpage">Zach Charlick</a>
    <a href="/home">Elliot Ginzburg</a>
>>>>>>> dfaf67f80da8f5e5d6aec40dc9a39404c308a0d8
    Matthew
    Ahsen
    Jai
    Ahsen Malik
    Simon Bullock
    Jai Damani


<%- include('bootfooter') -%>
