<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>
    Elliot Ginzburg
    Zach Charlick
    Matthew
<<<<<<< HEAD
    Ahsen
    Jai
=======
    Ahsen Malik
    Simon Bullock
    Jai Damani
>>>>>>> 9c1f0c9b256bb90d9f21c2170756a14fd545316e

<%- include('bootfooter') -%>
