<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>

    <a href="/aboutpages">About Pages</a>
    <br>
    <a href="/home">Elliot Ginzburg</a>
    <br>
    <a href ="/simon">Simon Bullock</a>
    <br>
    <a href="/Jai">Jai Damani</a>
    <br>
    Matthew


<%- include('bootfooter') -%>
