<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>

    <a href="/zachpage">Zach Charlick</a>
    <a href="/home">Elliot Ginzburg</a>
<<<<<<< HEAD
<a href ="/simon">Simon Bullock,</a>
    Matthew
    Ahsen
    Jai
    Ahsen Malik
    Jai Damani
=======

    Matthew<br>
    Ahsen<br>
    Jai<br>
    Ahsen Malik<br>
    Simon Bullock<br>
    <a href="/Jai">Jai Damani</a>
>>>>>>> 283c51bf895b3607a410d99619fd3f2ed368f0df

<<<<<<< HEAD

=======
>>>>>>> a8ecc10798fc59dfa1bb71a0c866954a6d565457

<%- include('bootfooter') -%>
