<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>
    <a href="/home">Elliot Ginzburg</a>
    Zach Charlick
    Matthew

    Ahsen
    Jai
=======
    Ahsen Malik
    Simon Bullock
    Jai Damani


<%- include('bootfooter') -%>
