<%- include('bootheader') -%>
<%- include('menubar') -%>

    <!--<div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div> -->

    <!--<a href="/aboutpages">About Pages</a>
    <br>
    <a href="/home">Elliot Ginzburg</a>
    <br>
    <a href ="/simon">Simon Bullock</a>
    <br>
    <a href="/Jai">Jai Damani</a>
    <br>
    Matthew-->
  <a class="btn btn-lg btn-danger" href="/auth/google"> Login</a>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
    </div>



<%- include('bootfooter') -%>
