<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>

    <a href="/zachpage">Zach Charlick</a>
    <a href="/home">Elliot Ginzburg</a>
    <a href ="/simon">Simon Bullock,</a> <br>
    Matthew<br>
    Ahsen<br>
    Jai<br>
    Ahsen Malik<br>
    <a href="/Jai">Jai Damani</a>

<%- include('bootfooter') -%>
