<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>
<<<<<<< HEAD
    Elliot
    Zach
    Matthew Quetell
    Ahsen
=======
    Elliot Ginzburg
    Zach Charlick
    Matthew
    Ahsen Malik
>>>>>>> b47591d5effd9b1f896f4d15dbc5c70bcfc0e0ef
    Simon
    Jai Damani

<%- include('bootfooter') -%>
