<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair!</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
    Elliot
    Zach
    Matthew
    Ahsen
    Simon
    Jai

<%- include('bootfooter') -%>
