<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>
    Elliot Ginzburg
    Zach Charlick
    Matthew
    Ahsen
    Jai
    Ahsen Malik
    Simon Bullock
    Jai Damani

<a href ="/simonpage">simon</a>'

<%- include('bootfooter') -%>
