<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>A New Level of Communication</p>
    </div>

    <a href="/zachpage">Zach Charlick</a>
    <a href="/home">Elliot Ginzburg</a>
<a href ="/simon">Simon Bullock,</a>
    Matthew
    Ahsen
    Jai
    Ahsen Malik
    Jai Damani

<<<<<<< HEAD

=======
>>>>>>> a8ecc10798fc59dfa1bb71a0c866954a6d565457

<%- include('bootfooter') -%>
