<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
    Elliot Ginzburg<br>
    Zach<br>
    Matthew<br>
    Ahsen Malik<br>
    Simon<br>
    <a href="/Jai">Jai Damani</a>

<%- include('bootfooter') -%>
