<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Choose Your Interests</h1>
        <h3> Pick at least one </h3>
        <div class="row">
          <div class="col-12 col-md-4">
            <h4> Politics </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4> Sports </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4> Tech </h4>
          </div>










    </div>



<%- include('bootfooter') -%>
