<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Choose Your Interests</h1>
        <h3> Pick at least one </h3>
        <div class="row">
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> Politics </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> Sports </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> Food </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> DIY </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> Travel </h4>
          </div>
          <div class="col-12 col-md-4">
            <h4 class="interest-style"> Movies </h4>
          </div>










    </div>



<%- include('bootfooter') -%>
