<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Choose Your Interests</h1>
        <h3> Pick at least one </h3>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/politics.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/food.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <br><br>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/movies.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <br><br>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/sports.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <br><br>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/travel.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <br><br>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="/images/diy.jpg" width="300px" height="160px" onclick="chooseInterest();" />
          </div>
          <br><br>










    </div>



<%- include('bootfooter') -%>
