<%- include('bootheader') -%>
<%- include('menubar') -%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Jai's Blog</title>
<link rel="icon" type="image" href="http://bis.edu.in/bis_lit_fest_2019/pictures%20for%20behind%20scenes/jai.png" />
</head>
<body class="bg-info">
<div class="container">
  <div class="jumbotron">
    <h1>Jai Damani's Blog <img width="100" src="http://bis.edu.in/bis_lit_fest_2019/pictures%20for%20behind%20scenes/jai.png"></h1>
    <p> Welcome to my life!</p>
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2 bg-light">
    <img width="100"src="http://edlenco.com/wp-content/uploads/2017/06/bombay_international_school_grant_road.jpg">
  </div>
  <div class="col bg-secondary text-white">
    At a glance
    <ul>
      <li> Age - 15 </li>
      <li> School - Bombay International School </li>
      <li> Plays the Clarinet </li>
      <li> Fond of Photography </li>
      <li> Loves Cycling </li>
    </ul>
  </div>
  <div class="col-2 bg-light">
    <br><br><br><br>
      <img width="100"src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Clarinet_Transparent_PNG_Clip_Art.png?m=1507172110">
  </div>
  <div class="col-1">
  </div>
</div>


<%- include('bootfooter') -%>
