<%- include('bootheader') -%>
<%- include('menubar') -%>

 <div class="jumbotron">
        <h1>Meet up with a Pair</h1>
        <table class="table table-hover table-dark">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Friends</th>
    <th scope="col">Centralized Meeting Point</th>
    <th scope="col">Meet up</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td><a class ="text" href="https://www.google.com/maps/contrib/112019837811198170526/photos/@44.044071,-123.106956,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">113 Southampton Ave. Eugene, OR 97402</td>
    <td> <a class="btn btn-success meet-up" href="/chat"" role="button">Meet up</a>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td> <a class ="text" href="https://www.google.com/maps/contrib/112019837811198170526/photos/@44.044071,-123.106956,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">58 Lancaster St. Lakeland, FL 33801</td>
    <td><a class="btn btn-success meet-up" href="/chat"" role="button">Meet up</a>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td >Larry</td>
    <td> <a class ="text" href="https://www.google.com/maps/contrib/112019837811198170526/photos/@44.044071,-123.106956,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">79 East Prince Street Sumter, SC 29150</td>
    <td> <a class="btn btn-success meet-up" href="/chat"" role="button">Meet up</a> </td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td >Bob</td>
    <td> <a class ="text" href="https://www.google.com/maps/contrib/112019837811198170526/photos/@44.044071,-123.106956,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">22 Halifax Drive
Wappingers Falls, NY 12590</td>
    <td> <a class="btn btn-success meet-up" href="/chat"" role="button">Meet up</a> </td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td >Joe</td>
    <td> <a class ="text" href="https://www.google.com/maps/contrib/112019837811198170526/photos/@44.044071,-123.106956,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">7396 West Homewood Ave.
Saint Paul, MN 55104</td>
    <td> <a class="btn btn-success meet-up" href="/chat"" role="button">Meet up</a> </td>
  </tr>



</tbody>
</table>

  </div>



<%- include('bootfooter') -%>
<%- include('footer') -%>
