<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Login to Pair </h1>
        <h2>Sign in with Google </h2>
        <a class="btn btn-primary" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>



    </div>

<%- include('footer') -%>
<%- include('bootfooter') -%>
