<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Login to Pair </h1>
        <h2>Sign in with Google </h2>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
        <br><br>
        <h2>Sign in yourself</h2>
        <br>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                First Name
              </td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>
                Last Name
              </td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>
                Email I.D.tab
              </td>
              <td>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>
                Password
              </td>
              <td>
                <input type="text">
              </td>
            </tr>
          </tbody>
        <table>
        <button class="btn btn-primary">Sign in</button>

    </div>

<%- include('bootfooter') -%>
