<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Login to Pair </h1>
        <p>Sign in with Google </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
        <br>
        Sign in yourself
        <br>
        <input type="text">
    </div>

<%- include('bootfooter') -%>
