<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Simon Bullock's test page</h1>
        <p>Demonstrating Node/Express features</p>
            </div>


       <title>About Me!</title>
        </head>
        <body>
          <div class="container">
            <div class="jumbotron bg-primary">
              <h1>About Me</h1>
              <p> This is a page about me</p>
            </div>
            <div>
      <img src="./About Me!_files/https___blogs-images.forbes.com_elizabethrushe_files_2018_10_Goat-wearing-Nofence-collar-1200x800.jpg" width="50%">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>NAME</th><th>AGE</th><th>LOCATION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Simon Bullock</td><th>17</th><td>Brooklyn, NY</td>
                  </tr>
                </tbody>
              </table>

                  <br>

                  <p>Languages Spoken</p>
                  <p>LanguagSpanglishn</p>
                  <p>Hi i'm simon and i got aids</p>
                  <ul>
                    <li>English</li>
                    <li>French</li>
                  <ul>
                    <br>
        <a class="btn btn-primary" href="https://getbootstrap.com/docs/4.3/components/buttons/" role="button">Click this Button</a>
<%- include('bootfooter') -%>
