<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Your Pairs</h1>

        <table class="">
          <thead class="black white-text">
            <tr>
              <th>Username</th>
              <th>Shared Interests</th>
              <th>Want to Chat?</th>

            </tr>
          </thead>

          <<tbody>

          </tbody>


        </table>


    </div>




<%- include('bootfooter') -%>
