<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Your Pairs</h1>

        <table>
          <tr>
            <th>Username</th>
            <th>Shared Interests</th>
            <th>Want to Chat?</th>

          </tr>


        </table>


    </div>




<%- include('bootfooter') -%>
