<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Your Pairs</h1>

              <th>Username</th>
              <th>Shared Interests</th>
              <th>Want to Chat?</th>

        <table class="table">
          <thead class="black white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Shared Interests</th>
              <th scope="col">Want to Chat?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Joe Bob</td>
              <td>Sports, Movies</td>
              <td><button class="btn btn-success" type="button" name="button">Chat Now</button><button class="btn btn-danger" type="button" name="button">Decline</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob Smith</td>
              <td>Movies, DIY</td>
              <td><button class="btn btn-success" type="button" name="button">Chat Now</button><button class="btn btn-danger" type="button" name="button">Decline</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry Jones</td>
              <td>DIY, Sports</td>
              <td><button class="btn btn-success" type="button" name="button">Chat Now</button><button class="btn btn-danger" type="button" name="button">Decline</button></td>
            </tr>
          </tbody>
        </table>

    </div>




<%- include('bootfooter') -%>
