<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Zachary Charlick</h1>
        <p>I am a dude</p>
    </div>
    
    <a href="/zachpage">Zach Charlick</a>


<%- include('bootfooter') -%>
