<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Zachary Charlick</h1>
        <div class="row">

          <div class="col-4">
            <img src="/images/zachpic.jpg" width="100%">
          </div>

          <div class="col-8">
            <p> My Name is Zachary Charlick, but most of my friends
              just call me Zach. I have an older brother and a younger sister, as well
              as an adorable puppy. I am a current rising high school Junior at Jackson High
              School where I am apart of a JSA, an arts focused acadamy within the much larger school.
            </p>
          </div>

        </div>
    </div>


<%- include('bootfooter') -%>
