body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* for self pic on the designer about me pages */
img.about-me-pic{
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
}

h5.about-me-text{
  padding-top: 20px;
  padding-left: 0px;
}

div.about-me-pic-div{
  flex-grow: .2;
}

h1.name-style{
  text-shadow: 2px 2px 6px #a6c8ff;
  text-align: center;
}

img.interest-style{
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
  padding: 15px;
  padding-top: 30px;
}

button.accept-or-deny{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

img.logo{
  padding-right: 15px;
}

a.footerlink{
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

div.footer-class{
  margin-top: 10px;
  margin-bottom: 10px;
}

html body{
backgroound-color: rgba(0,0,0,1.00);

}
